<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {{ site.title | escape }}<br>
            {{- site.description | escape -}}&nbsp;by {{ site.author | escape }}
          </li>
          <li>Email: jeko at jeko dot net</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
    </div>

  </div>

</footer>

<div class="logos"></div>
