.articleImage {
  float: left;
  /* height: 160px; */
  width: 250px;
  margin-right: 15px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .articleImage {
    float: none;
    max-width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 1em;
    display: block;
  }
}
