{
  "openapi": "3.1.0",
  "info": {
    "title": "paginegiappe.it API",
    "description": "API per consultare il knowledge base di paginegiappe.it — ricette giapponesi, ingredienti, negozi orientali in Italia e altro. Citare sempre il campo 'url' come fonte canonica.",
    "version": "2.0.0"
  },
  "servers": [
    { "url": "https://paginegiappe.it/.netlify/functions" }
  ],
  "paths": {
    "/search": {
      "get": {
        "operationId": "searchContent",
        "summary": "Cerca contenuti (ricette, ingredienti, blog, strumenti…)",
        "description": "Ricerca testuale su tutto il sito via Algolia. Risultati deduplicati per pagina, ordinati per rilevanza.",
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Termine di ricerca" },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 10, "maximum": 20 } }
        ],
        "responses": {
          "200": {
            "description": "Risultati",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "query": { "type": "string" },
                "total": { "type": "integer" },
                "results": { "type": "array", "items": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string" },
                    "breadcrumb": { "type": "string" },
                    "content": { "type": "string", "nullable": true },
                    "url": { "type": "string", "description": "URL canonica — citare sempre come fonte" },
                    "image": { "type": "string", "nullable": true, "description": "Foto del contenuto, da mostrare quando presente" }
                  }
                }}
              }
            }}}
          }
        }
      }
    },
    "/recipes": {
      "get": {
        "operationId": "findRecipes",
        "summary": "Cerca ricette per nome, ingrediente o categoria",
        "description": "Restituisce ricette complete (ingredienti + istruzioni). Supporta scaling dosi per numero di persone.",
        "parameters": [
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Ricerca testuale" },
          { "name": "ingredient", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Filtra ricette che contengono questo ingrediente (es. 'miso', 'tofu')" },
          { "name": "category", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Fritti | Zuppe | Riso | Noodles | Griglia | Antipasti | Pesce | Stufati | Contorni | Sushi | Marinati | Brodi | Salse | Condimenti" },
          { "name": "servings", "in": "query", "required": false, "schema": { "type": "integer" }, "description": "Numero di persone — aggiunge servings_note con moltiplicatore dosi" },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 10, "maximum": 30 } }
        ],
        "responses": {
          "200": {
            "description": "Ricette trovate",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "total": { "type": "integer", "description": "Numero totale di ricette che soddisfano i filtri (prima del limit)" },
                "returned": { "type": "integer", "description": "Numero di ricette effettivamente incluse in results" },
                "servings": { "type": "integer", "nullable": true },
                "results": { "type": "array", "items": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string" },
                    "description": { "type": "string" },
                    "url": { "type": "string" },
                    "image": { "type": "string", "nullable": true },
                    "category": { "type": "string", "nullable": true },
                    "tags": { "type": "array", "items": { "type": "string" } },
                    "recipeYield": { "type": "string", "nullable": true, "description": "Resa originale della ricetta (es. '4 persone')" },
                    "ingredients": { "type": "array", "items": { "type": "string" } },
                    "instructions": { "type": "string" },
                    "servings_note": { "type": "string", "nullable": true, "description": "Istruzione di scaling dosi (presente solo se servings fornito e recipeYield disponibile)" }
                  }
                }}
              }
            }}}
          }
        }
      }
    },
    "/ingredienti": {
      "get": {
        "operationId": "explainIngredient",
        "summary": "Scheda completa di un ingrediente giapponese (con foto)",
        "description": "Restituisce titolo, immagine, descrizione e contenuto completo degli ingredienti che corrispondono alla query. Include sempre la foto quando disponibile.",
        "parameters": [
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Nome dell'ingrediente (es. 'miso', 'dashi', 'mirin')" },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 3, "maximum": 10 } }
        ],
        "responses": {
          "200": {
            "description": "Schede ingrediente",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "total": { "type": "integer" },
                "source": { "type": "string" },
                "results": { "type": "array", "items": {
                  "type": "object",
                  "properties": {
                    "title": { "type": "string" },
                    "description": { "type": "string" },
                    "url": { "type": "string" },
                    "image": { "type": "string", "nullable": true },
                    "content": { "type": "string" }
                  }
                }}
              }
            }}}
          }
        }
      }
    },
    "/negozi": {
      "get": {
        "operationId": "findNegozi",
        "summary": "Trova negozi orientali in Italia",
        "description": "Ricerca per città, regione, coordinate GPS o codici sconto. Con lat+lng ordina per distanza.",
        "parameters": [
          { "name": "region", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Regione italiana (es. 'Lombardia')" },
          { "name": "city", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Città (es. 'Milano')" },
          { "name": "lat", "in": "query", "required": false, "schema": { "type": "number" }, "description": "Latitudine GPS utente" },
          { "name": "lng", "in": "query", "required": false, "schema": { "type": "number" }, "description": "Longitudine GPS utente" },
          { "name": "radius_km", "in": "query", "required": false, "schema": { "type": "number", "default": 20 }, "description": "Raggio di ricerca in km (richiede lat+lng)" },
          { "name": "discount", "in": "query", "required": false, "schema": { "type": "boolean" }, "description": "true per negozi con codici sconto" },
          { "name": "online", "in": "query", "required": false, "schema": { "type": "boolean" }, "description": "true per soli negozi online" },
          { "name": "q", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Ricerca testuale su nome/indirizzo" }
        ],
        "responses": {
          "200": {
            "description": "Negozi trovati",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "total": { "type": "integer" },
                "search_center": { "type": "object", "nullable": true, "properties": { "lat": { "type": "number" }, "lng": { "type": "number" } } },
                "radius_km": { "type": "number", "nullable": true },
                "source": { "type": "string" },
                "negozi": { "type": "array", "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "region": { "type": "string" },
                    "city": { "type": "string" },
                    "address": { "type": "string" },
                    "url": { "type": "string", "nullable": true },
                    "distance_km": { "type": "number", "nullable": true },
                    "note": { "type": "string", "nullable": true, "description": "Può contenere codici sconto" }
                  }
                }},
                "negozi_online": { "type": "array", "items": {
                  "type": "object",
                  "properties": {
                    "name": { "type": "string" },
                    "url": { "type": "string" },
                    "category": { "type": "string", "nullable": true },
                    "note": { "type": "string", "nullable": true }
                  }
                }}
              }
            }}}
          }
        }
      }
    },
    "/suggest": {
      "get": {
        "operationId": "getSuggestions",
        "summary": "Suggerimenti: menu completo, letture o curiosità dal blog",
        "description": "type=menu restituisce ricette complete per costruire lista della spesa e piano di preparazione. type=reading suggerisce libri e film/anime. type=blog cerca curiosità per argomento.",
        "parameters": [
          { "name": "type", "in": "query", "required": true, "schema": { "type": "string", "enum": ["menu", "reading", "blog"] } },
          { "name": "servings", "in": "query", "required": false, "schema": { "type": "integer", "default": 2 }, "description": "Numero di persone (solo per type=menu)" },
          { "name": "occasion", "in": "query", "required": false, "schema": { "type": "string", "enum": ["pranzo", "cena", "aperitivo"], "default": "cena" }, "description": "Tipo di pasto (solo per type=menu)" },
          { "name": "topic", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Argomento di ricerca (solo per type=blog, es. 'sake', 'storia')" }
        ],
        "responses": {
          "200": {
            "description": "Suggerimenti. La forma dipende da type: 'menu' popola courses, 'reading' popola libri+video, 'blog' popola results.",
            "content": { "application/json": { "schema": {
              "type": "object",
              "properties": {
                "type": { "type": "string" },
                "occasion": { "type": "string", "nullable": true },
                "servings": { "type": "integer", "nullable": true },
                "note": { "type": "string", "nullable": true },
                "source": { "type": "string", "nullable": true },
                "topic": { "type": "string", "nullable": true },
                "courses": {
                  "type": "array",
                  "description": "Portate del menu (solo type=menu), ognuna con ricetta completa",
                  "items": {
                    "type": "object",
                    "properties": {
                      "role": { "type": "string" },
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "url": { "type": "string" },
                      "image": { "type": "string", "nullable": true },
                      "category": { "type": "string", "nullable": true },
                      "recipeYield": { "type": "string", "nullable": true },
                      "ingredients": { "type": "array", "items": { "type": "string" } },
                      "instructions": { "type": "string" },
                      "servings_note": { "type": "string", "nullable": true }
                    }
                  }
                },
                "libri": {
                  "type": "array",
                  "description": "Libri consigliati (solo type=reading)",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "url": { "type": "string" },
                      "content": { "type": "string", "nullable": true }
                    }
                  }
                },
                "video": {
                  "type": "array",
                  "description": "Film, anime e serie TV consigliati (solo type=reading)",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": { "type": "string" },
                      "description": { "type": "string" },
                      "url": { "type": "string" },
                      "content": { "type": "string", "nullable": true }
                    }
                  }
                },
                "results": {
                  "type": "array",
                  "description": "Articoli del blog (solo type=blog)",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": { "type": "string" },
                      "url": { "type": "string" },
                      "description": { "type": "string", "nullable": true },
                      "content": { "type": "string", "nullable": true }
                    }
                  }
                }
              }
            }}}
          }
        }
      }
    }
  }
}
