.columns {
  display: flex;
  flex-flow: column wrap;
  @media only screen and (min-width: 992px) {
    max-height: 320px;
  }
}

h2 {
  border-bottom: 1px solid black !important;
}

h3 {
  font-weight: 400;
}

h4 {
  font-size: 1.17em;
  margin: 7px 0 7px 0;
}

.panel {
  // border: 1px solid gray;
  padding: 5px 25px;
  background-color: #f0f0f0;
  border-radius: 25px;
  margin-bottom: 10px;
}
