---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h2>Preparazioni di base</h2>

  <div>
    <h3>🍲 Brodi</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'base_preparations'" | where_exp:"item", "item.categories contains 'stocks'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🧉 Salse</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'base_preparations'" | where_exp:"item", "item.categories contains 'sauces'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🧂 Condimenti</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'base_preparations'" | where_exp:"item", "item.categories contains 'condiments'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🍣 Sushi e sashimi</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'base_preparations'" | where_exp:"item", "item.categories contains 'sushi_and_sashimi'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
  </div>

  <h2>Ricette</h2>
  <div>
    <h3>🥗 Contorni - 惣菜</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'sides'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🍲 Zuppe</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'soups'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🍤 Agemono (fritti) - 揚げ物</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'agemono'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🍙 Riso - ご飯物</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'rice'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🍜 Men-rui (noodles)</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'menrui'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🐟 Pesce</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'fish'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🍗 Yakimono (alla griglia)</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'yakimono'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🥗 Tsukemono (marinati)</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'tsukemono'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
    <h3>🤷‍♂️ Altre</h3>
    {% assign recipes = site.posts | where_exp:"item", "item.categories contains 'recipes'" | where_exp:"item", "item.categories contains 'other'" | sort: "name" %}
    {% include recipes.html recipes = recipes %}
  </div>

  <h2>Ingredienti</h2>
  <div class="panel columns">
    {% assign ingredients = site.posts | where_exp:"item", "item.categories contains 'ingredients'" | sort: "name" %}
    {% for ingredient in ingredients %}
      <h4>
        <a href="{{ ingredient.url | relative_url }}">
          {{ ingredient.name }}
        </a>
      </h4>
    {% endfor %}
  </div>

  <h2>Materiale necessario</h2>
  <div class="panel">
    {% assign tools = site.posts | where_exp:"item", "item.categories contains 'tools'" | sort: "name" %}
    {% for tool in tools %}
      <h4>
        <a href="{{ tool.url | relative_url }}">
          {{ tool.name }}
        </a>
      </h4>
    {% endfor %}
  </div>

</div>
